/*custom font*/
@font-face{
font-family: 'Rubik-Light';
src: url('../fonts/Rubik-Light.ttf');
}

@font-face{
font-family: 'Rubik-Regular';
src: url('../fonts/Rubik-Regular.ttf');
}

@font-face{
font-family: 'Rubik-Bold';
src: url('../fonts/Rubik-Bold.ttf');
}

html, body {
	font-family: 'Rubik-Light';
	font-size: 16px;
}

/*Background elements*/
canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
}


/*черно-белые картинки партнёров*/
.clien__inner-img {
	filter: grayscale(100%);
}
.clien__inner-img:hover {
	filter: none;
}

/*черно-белые картинки карусель*/
.mini-slide__img {
	filter: grayscale(100%);
}
.mini-slide__img:hover {
	filter: none;
}

/*ГОТОВЫ НАЧАТЬ С НАМИ ПРОЕКТ?*/


.contact-about {
	max-width: 570px !important;
	width: 100% !important;
}
@media (max-width: 475px) {
	.contact-about__score {
		width: 250px !important;
	}
}
/*Черный ховер на синий*/
.project-info__btn {
	border: 1px solid rgb(0 114 246 / 90%);
	background-color: rgb(0 114 246 / 90%);
}
.top__slider-btn:hover{
	color: #fff;
	border: 2px solid rgb(0 114 246 / 90%);
	background-color: rgb(0 114 246 / 90%);
}
.bottom-box__btn:hover {
	color: #000;
}
.bottom__inner-btn{
	background-color: rgb(0 114 246 / 90%);
}
.bottom__inner-btn:hover{
	color: #fff;
	background-color: #000;
}
.vacancy-bottom__link {
	background-color: rgb(0 114 246 / 90%);
}
.vacancy-bottom__link:hover {
	color: #fff;
	background-color: #000;
}


/*.project БэкГраунд*/
.project{
	background-image: url(../images/bg/2.png);
	background-color: none;
}
.client-card{
	background-image: none;
}

/*header list items*/
.header.sticky .logo{
	filter: brightness(0);
}

.header__btn{
	background-color: unset;
	border: 2px solid #fff;
	margin-left: 15px;
}
.header.sticky a.header__btn{
	color: #000 ;
	border: 2px solid #000;
}
.header.sticky a.header__btn:hover{
	color: #fff ;
	border: 2px solid rgb(0 114 246 / 90%);
	background-color: rgb(0 114 246 / 90%);
}

/*footer size*/
.footer a {
	font-size: unset;
}

.footer__content-img img{
	filter: brightness(0);
}
.footer__bottom-text {
	border-right: unset;
}


/*index main tabs*/
.card__item:hover{
	color: #fff;
	background-color: rgb(0 114 246 / 90%);
}
.card__item:hover img{
	filter: brightness(0);
}
.card__item:hover .card__item-btn{
	color: #000;
}